/** @format */

@import 'variables.scss';

.post {
  // width: 60%;
  width: 40%;
  max-width: 80rem;
  min-width: 430px;
  margin: auto;
  padding: 1.5% 5% 1.5%;
  font-size: 1.5rem;

  &__header {
    padding: 1rem;
    background-color: $color-white;
    display: flex;
    justify-content: space-between;

    &--left {
      display: flex;
      align-items: center;
    }

    &--right {
      display: flex;
      justify-content: space-evenly;

      button {
        margin: 0.3rem;
        padding: 0.3rem;
        background-color: transparent;
        border: none;
        cursor: pointer;
      }
    }

    &--avatar {
      margin-right: 1.5rem;
    }

    &--name {
      font-weight: normal;
      color: $color-blue-dark;
    }

    &--timestamp {
      color: $color-grey-medium;
      font-weight: 400;
      font-size: 1rem;
    }
  }

  &__body {
    background-color: $color-white;
    width: 100%;
    height: 100%;
    // border: none;
    &--img {
      object-fit: contain;
      width: 100%;
      margin: 0;
      padding: 0;
    }
  }

  &__footer {
    width: 100%;
    background-color: $color-white;
    padding: 2rem 1rem;
    margin-top: -3px;
    // border: none;

    &--text {
      font-weight: normal;
      color: $color-blue-dark;

      margin: 0;
    }
    &--username {
      font-weight: 600;
    }
  }

  &__comments {
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: black;

    &--wrap {
      margin-bottom: 0.2rem;

      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &--main {
      display: flex;
      align-items: center;
    }

    &--userImg {
      width: 2.5rem;
      height: 2.5rem;
      margin-right: 0.5rem;
      border-radius: 50%;
    }

    &--title {
      margin-bottom: 1.5rem;
      color: $color-grey-medium;
    }

    &--span {
      margin-left: 1rem;
      margin-right: 1rem;
    }

    button {
      margin: 0.1rem;
      padding: 0.3rem;
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
  }

  &__comment {
    width: 100%;
    margin-top: 1rem;

    &--text {
      width: 90%;
      padding: 1rem;
      border: none;
      background-color: $color-grey-light;

      &:focus {
        outline: none;
      }
    }

    &--btn {
      width: 10%;
      padding: 1rem;
      border: none;
    }
  }
}

// Modal
.comment {
  &__modal {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__container {
    width: 50%;
    height: 30%;
    background-color: orange;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__title {
    color: $color-blue-dark;
    margin-bottom: 3rem;
    letter-spacing: 0.5px;
  }

  &__wrap {
    width: 100%;
  }

  &__input {
    display: flex;
    flex-direction: row;
    justify-content: center;

    input {
      width: 70%;
      height: 3rem;
      border: none;
      margin-right: 0.5rem;

      &:focus {
        outline: none;
      }
    }

    button {
      border: none;

      &:hover {
        opacity: 0.9;
      }
    }
  }
}

//Overriding Material UI Icons
.edit-icon,
.delete-icon {
  font-size: 2rem !important;
  color: $color-grey-medium !important;
}

.edit-icon {
  &:hover {
    color: rgb(23, 192, 249) !important;
  }
}

.delete-icon {
  &:hover {
    color: #f7a5c7 !important;
  }
}
