/** @format */

@import 'variables.scss';
// @import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
.app {
  height: 100vh;

  &__header {
    width: 40vw;
    min-width: 430px;

    padding: 3.5rem 5% 1.5%;
    margin: 0 auto;
    // border-bottom: 1px solid $color-green-medium;

    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
      display: flex;
      align-items: center;

      &--img {
        width: 4.5rem;
        height: 4.5rem;
        object-fit: contain;
        margin-right: 1.5rem;
      }

      &--title {
        // font-family: 'Amatic SC', cursive;
        font-family: 'Indie Flower', cursive;
        font-size: 3.5rem;
      }
    }

    &__auth {
      &--status {
        font-size: 1.5rem;

        display: flex;
        align-items: center;
      }
    }
  }

  &__loginContainer {
    a {
      cursor: pointer;

      &:hover {
        color: orange;
      }
    }
  }

  &__logoutContainer {
    display: flex;
    align-items: center;

    a {
      cursor: pointer;
      font-size: 1.8rem;
      margin-right: 0.5rem;

      &:hover {
        color: orange;
      }
    }
  }
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;

  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;

    &--logo {
      width: 6rem;
      height: 6rem;
      margin-right: 1.5rem;
      object-fit: contain;
    }

    &--title {
      font-family: 'Indie Flower', cursive;
      font-size: 3rem;
      color: $color-blue-dark;
      font-weight: 700;
    }

    &:focus {
      outline: none;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 40vw;
    min-width: 35rem;
    max-width: 77rem;
    height: 60vh;
    background-color: orange;

    &--edit {
      height: 65vh;
    }
  }

  &__form {
    width: 100%;
    margin-top: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &--input {
      width: 50%;
      margin-bottom: 1rem;
    }

    &--input,
    &--btn {
      width: 50%;
      margin-bottom: 1rem;
      border: none;
    }

    &--input {
      padding: 5px;
      height: 4rem;
    }

    &--btn {
      background-color: $color-blue-dark;
      color: $color-white;
      height: 4rem;
      padding-top: 10px;
      padding-bottom: 10px;
      cursor: pointer;

      &:hover {
        opacity: 0.9;
      }

      &:active {
        transform: scale(0.95);
      }
    }

    &--divider {
      color: $color-white;
      border: 1px solid $color-white;
      width: 50%;
      margin: 1rem auto 2rem;
    }

    &--signupText {
      color: $color-blue-dark;
      font-size: 1.3rem;
      font-weight: 600;
      margin-top: 1rem;
    }

    &--signupLink {
      color: $color-blue-dark;
      font-size: 1.5rem;
      font-weight: 600;
      margin-left: 1.5rem;
      letter-spacing: 1px;
      border-bottom: 2px solid $color-blue-dark;
      cursor: pointer;
      // background-color: $color-blue-dark;
      // border: 1px solid $color-blue-dark;
      // padding: 5px;
      // border-radius: 50px;

      &:hover {
        color: $color-grey-light;
        border-bottom: 2px solid $color-grey-light;
      }
    }
  }
}

// Override Material UI
.addIcon {
  font-size: 3rem !important;
  margin-right: 2rem;
  cursor: pointer;

  &:hover {
    color: orange;
  }
}

.error-message {
  font-size: 2rem;
  text-align: center;
  margin: 4rem auto 0;
  letter-spacing: 1.2px;
}

.google {
  font-size: 1.5rem;
  font-weight: 900;
  margin-right: 0.8rem;
}

.hide {
  display: block;
}

@media (max-width: 770px) {
  .hide {
    display: none;
  }
}
